<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>

<p>
  <%= link_to 'Edit this post', edit_post_path(@post) %>
</p>
